/* COULEURS : #7ED957 #FF971D */

/* GÉNÉRAL */

/* header et menu */

#header {
    display: flex;
    background-color: #7ED957;
}

#logo_healtheat {
    width: 105px;
    height: 105px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-link {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#connected {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    right: 0px;
}

#disconnect-button {
    margin-top: 0px;
    height: 40px;
    background-color: gray;
    border-color: black;
    border-width: 2px;
}

/* body */
h1 {
    font-size: 20px;
}

.mb-3 {
    width: 200px;
}

.body-button {
    background-color: #FF971D;
    border-color: black;
    border-width: 2px;
}

.box {
    padding: 10px;
    display: flex inline-block;
    border: 2px solid rgb(6, 6, 6);
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
}

/* JOURNAL */

#box_form_conso {
    padding: 10px;
    display: flex inline-block;
    border: 2px solid rgb(6, 6, 6);
    flex-direction: column;
    margin: 20px;
}

#box_table_journal {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#inputDateConso {
    width: 200px;
}


/* PROFIL */

#box_form_profil {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#inputDdn {
    width: 200px;
}

#labelDdn {
    white-space: nowrap;
}


/* ALIMENTS */

.input-taille {
    width: 200px;
    margin: 10px;
}

.encadre {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    max-height: 400px;
    overflow: auto;
}

/*LOGIN*/

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cadre {
    border: 5px solid #FF971D;
    border-radius: 10px;
    background-color: #7ED957;
    padding: 20px;
    text-align: center;
}